/*
*
* ==========================================
* bottom nav
* ==========================================
*
*/

@media (min-width: 575px) { 

	.mobile{
		display: none;
	}

 }


  
@media (max-width: 575px) { 
	.cart-nav{
		display: none;
	}
	.mobile .cart-nav{
		display: block;
	}
	.mh{
		margin-left: 0.5rem!important;
	}
	.mk{
		margin-left: 0.5rem!important;
	}

 }
.mobile{
	background-color: #b0e088;
}

