

{% extends 'Myapp/Base.html' %}  


{% block content0 %}








  

<div class="col-sm-4">
	  <img src = 'https://canary.contestimg.wish.com/api/webimage/5d0cbbfbe284222bd26ff26e-large.jpg?cache_buster=fe6df99db97d95087856257fb0db3a0e' width = '200' >
	  
	  <p>ตำนานเล่าขานเรื่องคาวบอย ของชายหนุ่มผู้ที่มีความกล้าหาญทุกคน ต้องมีไว้ในครอบครอง.... </p>
	  <p>หมวกสำหรับสุภาพบุรุษ หรือ สุภาพสตรี เเต่สุภาพบุรุษจะเหมาะกว่านะ ดูทรงเเล้ว</p>
      <p>
What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
</div>




{% endblock content0%}





