




{% extends 'Myapp/Base.html' %}  


{% block content0 %}

    <h3>ยืนยันการสมัคร</h3>
    {% if status == 'found' %}
        <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>ยืนยันสำเร็จ!</strong> คุณได้ยืนยันการสมัครสมาชิกเรียบร้อยเเล้ว
        </div>
    {% else %}
        <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>ไม่สามารถยืนยันได้!</strong> กรุณาตรวจสอบหรือ ขอรหัสอีกครั้ง
        </div>

    {%endif%}
  
  



{% endblock content0%}





