<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">ขอบคุณสำหรับคำสั่งซื้อ</h5>
		</div>
		<div class="modal-body">
		  <p>ระบบได้ทำการบันทึกคำสั่งซื้อของท่านไว้เเล้ว</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" onclick="closeModal()">ไปยังหน้าคำสั่งซื้อ</button>
		</div>
	  </div>
	</div>
  </div>